body {
    width: 100%;
    box-sizing: border-box;
}

main {
    margin-left: 5px;
}

/* =========== Colors =========== */

:root {
    --base-color:  white;
    --primary-color: rgb(99, 127, 194); 
    --primary-color-light: ;  
    --secondary-color:  rgb(123, 81, 156);
    --boarder-color: rgb(175, 175, 175);
    --light-backing-color: rgb(241, 240, 238);
    --alert-banner-color: rgb(211, 238, 246);
}

/* ============= grid container ========== */

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header",
      "nav",
      "main";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

main {
    display: grid;
}

/* =========== Main =========== */

main {
  background-color: var(--base-color);
  margin-top: 103px;
}


/* =========== Header Bar =========== */

.header {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
}

.flex-right {
    display: flex;
    flex-direction: row;    
    margin-left: auto;
}

.header span {
    color: var(--light-backing-color);
    font-weight: 100;
}

.your-app {
    padding-left: 5px;
    font-size: 25px;
    color: var(--base-color);
}

.bell {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border-right: 1px solid var(--boarder-color); 
}

.profile-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0 5px;
    margin-top: 10px;
}

.profile-name {
    text-align: center;
    font-weight: 100;
    color: var(--base-color); 
    font-size: 15px;
    margin-right: 5px;
} 

/* =========== Navigation Bar =========== */

.nav {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    padding-top: 7px;
    height: 40px;
    width: 100%;
    background-color: var(--secondary-color);
}

.nav img {
    height: 30px;
    width: 50px;
    padding: 2px;
}

/* =========== DashBoard with search bar =========== */

.main-header {
    display: flex;
    align-items: center;  
}

.headline {
    width: 30%;
    margin: 0;
    padding: 10px;
    background-color: var(--base-color);
}

.main-header-search {
    width: 70%; 
    text-align: right;
    padding: 15px;
    background-color: var(--light-backing-color);
    border-bottom: 1px solid var(--boarder-color);
    border-left: 1px solid var(--boarder-color);
}

.main-header input {
    width: 70%; 
    height: 30px;
    border: 1px solid var(--boarder-color);
    border-radius: 5px;
} 

/* =========== Alert Banner =========== */

.alert-banner {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-top: 15px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid var(--boarder-color);
    background-color: var(--alert-banner-color);
}

.alert-banner p {
    margin: 7px;
}

.alert-banner-close {
    margin-left: auto;
    cursor: pointer;
}

/* =========== Traffic Section =========== */

.traffic {
    display: flex;
    flex-direction: row;
}

.traffic-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-right: 10px;
    list-style-type: none;
}

.traffic-nav-link {
  padding: 5px;
  cursor: pointer;
}

.traffic-nav-link:hover {
    background-color: rgb(238, 246, 238);
    border-radius: 5px;
}

.traffic-nav-link:hover {
    background-color: rgb(175, 219, 175);
    border-radius: 5px;
}

/* =========== Social Media Section =========== */

.social {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.social-container {
    width: 97%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--boarder-color);
    background-color: var(--light-backing-color);
    border-radius: 5px;
}

.social-image { 
    align-self: center;
    margin: 5px 10px;
    height: 30px;
    width: 30px;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 50%;
  }

.social-text {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.social-text p:nth-of-type(1) {
    font-size: medium;
    font-weight: bold;
    padding-right: 50px;
    color: var(--secondary-color);
}

.social-text p:nth-of-type(2) {
    font-size: 30px;
    padding-top: 10px;
    margin: 0;
}

/* =========== New Members Section / Recent Activity =========== */

.members,
.activity {
    border: 1px solid var(--light-backing-color);
}

.members h3,
.activity h3 {
    margin-left: 25px;
}

.members-container,
.activity-container {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 5px; 
    margin: 0 10px;
    border-bottom: 1px solid var(--light-backing-color);
}

.members-text,
.activity-message {
    padding-left: 5px;
}

.members-text p,
.activity-message p{
    margin: 5px 0;
}

.members-container p:nth-last-child(1) {
    display: flex;
    flex-direction: row;    
    margin-left: auto;
    font-size: small;
    margin-right: 10px;
}

.members-container img,
.activity-container img {
    align-self: center;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding: 5px 15px;
} 

/* =========== Message User Section =========== */

.message {
    border: 1px solid var(--light-backing-color);
}

.message h3,
.widget-container {
    margin-left: 25px;
    padding-bottom: 15px;
}

.widget-container {
    display: flex;
    flex-direction: column;
}

.widget-container input,
.widget-container textarea {
    width: 85%; 
    height: 30px;
    border: 1px solid var(--boarder-color);
    border-radius: 5px;
    margin-bottom: 10px;
}

.widget-container textarea {
    height: 80px;
}

.widget-container button {
    width: 86%;
    height: 45px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--base-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

.widget-container button:hover {
    background-color: rgb(143, 21, 173);
}
/* =========== Settings Section =========== */

.settings {
    border: 1px solid var(--light-backing-color);
    padding: 15px;
}

.form-field {
    width: 85%; 
    height: 30px;
    border: 1px solid var(--boarder-color);
    border-radius: 5px;
    margin-bottom: 10px;
}


/* =========== Media Query 768px =========== */

@media (min-width: 768px) {
  .grid-container {
      grid-template-columns: 70px 1fr;
      grid-template-areas: 
        "header header",
        "nav main";
  }
  main {
      grid-template-columns: 50%;
  }
  .traffic, .main-header, #traffic-chart, .social {
      grid-column: 1 / span 2;
  }
  .daily, .members, .message {
      grid-column: 1 / span 1;
  }
  .mobile, .activity, .settings {
      grid-column: 2 / span 1;
  }

  .widget-container-full {
      width: 90vw;
  }
  .widget-container-half {
      width: 45vw;
  }

  /* Header */

  .header {
      padding: 10px;
  }

  /* navigation side bar */

  .nav {
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 70px;
  }

  .nav img {
    height: 35px;
    width: 55px;
    padding:  20px 7px;
  }

  /* Dashboard */

  .headline {
    width: 15%;
    padding: 20px;
    font-size: 30px;
}

  .main-header-search {
      width: 85%;
      padding: 20px;
  }

  .main-header input {
    width: 40%;
    height: 40px;
  }

  /* social  */

  .social-container {
      margin: 15px;
  }

  .social-wrapper {
      display: flex;
      flex-direction: row;
  }

  .social-text {
      flex-direction: column;
      margin-left: 15px;
      padding: 0;
  }

  .social-text p:nth-of-type(1) {
      margin-bottom: 0;
  }

  .social-text p:nth-of-type(2) {
    padding: 0;
    font-size: 50px;
  }

}



