* {
    box-sizing: border-box;
}

h3 {
    text-transform: uppercase;
    font-size: medium;
}

/* =========== Colors =========== */

:root {
    --base-color:  white;
    --primary-color: rgb(96, 74, 136);   
    --secondary-color:  #7477BF;
    --boarder-color: rgb(175, 175, 175);
    --grid-border-color: rgb(189, 189, 189);
    --light-backing-color: rgb(241, 240, 238);
    --alert-banner-color: rgb(211, 238, 246);
    --hover-color: rgb(53, 69, 98);
}

/* ============= grid container ========== */

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header",
      "nav",
      "main";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

.widget-container-full, .widget-container-half {
    width: 92vw;
}

main {
    display: grid;
}

/* =========== Header Bar =========== */

.header {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
}

.flex-right {
    display: flex;
    flex-direction: row;    
    margin-left: auto;
}

.header span {
    color: rgb(206, 205, 205);
    font-weight: 100;
}

.your-app {
    padding-left: 5px;
    font-size: 25px;
    color: var(--base-color);
}

.bell-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.bell {
    margin-top: 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer; 
}

.bell:hover {
    animation: shake .2s;
    animation-iteration-count: 2;
}
@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  25% { transform: translate(1px,1px) rotate(1deg); }
  50% { transform: translate(-1px, -1px) rotate(-1deg); }
  75% { transform: translate(1px, 1px) rotate(1deg); }
  100% { transform: translate(-1px, 1px) rotate(-1deg); }
}

.dot {
    position: absolute;
    height: 7px;
    width: 7px;
    background-color: lawngreen;
    border-radius: 50%;
    margin: 20px 0 0 20px;
}

.line {
    border-left: 1px solid var(--boarder-color);
    max-height: 40px;
    margin-top: 7px;
}

.profile-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px 5px 0 5px;
}

.profile-name {
    text-align: center;
    text-transform: none;
    font-weight: 100;
    color: var(--base-color); 
    font-size: 15px;
    margin-right: 5px;
} 

/* =========== Bell Notifications =========== */

.notification {
    position: absolute;
}

.notification-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.pop-up {
    list-style-type: none;
    position: fixed;
    background-color: var(--light-backing-color);
    border: 1px solid var(--boarder-color);
    border-radius: 5px;
    top: 40px;
    right: 15px;
    padding: 0;
}

.pop-up li {
    padding: 15px;
    border-bottom: 1px solid var(--boarder-color);
}

.pop-up li:nth-of-type(3) {
    border-bottom: none;
}

.pop-up li:nth-of-type(4) {
    border-bottom: none;
    padding: 5px;
    text-align: right;
}

/* =========== Navigation Bar =========== */

.nav {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    padding-top: 7px;
    height: 40px;
    width: 100%;
    background-color: var(--primary-color);
}

.nav img {
    height: 30px;
    width: 50px;
    padding: 2px;
}

/* =========== DashBoard with search bar =========== */

.main-header {
    display: flex;
    align-items: center;  
    margin-top: 96px;
}

.headline {
    text-transform: none;
    font-size: 20px;
    width: 30%;
    margin: 0;
    padding: 10px;
    background-color: var(--base-color);
}

.main-header-search {
    width: 70%; 
    text-align: right;
    padding: 15px;
    background-color: var(--light-backing-color);
    border-bottom: 1px solid var(--boarder-color);
    border-left: 1px solid var(--boarder-color);
}

.main-header input {
    width: 70%; 
    height: 30px;
    border: 1px solid var(--boarder-color);
    border-radius: 5px;
} 

/* =========== Alert Banner =========== */

.alert-banner {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-top: 15px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid var(--boarder-color);
    background-color: var(--alert-banner-color);
}

.alert-banner p {
    margin: 7px;
}

.alert-banner-close {
    margin-left: auto;
    cursor: pointer;
}

/* =========== Traffic Section =========== */

.daily {
    border-bottom: 1px solid var(--grid-border-color);
    border-top: 1px solid var(--grid-border-color);
    
}

.mobile {
    border-bottom: 1px solid var(--grid-border-color);
    
}

.traffic {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    
}

.traffic-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-right: 10px;
    list-style-type: none;
}

.traffic-nav-link {
  padding: 5px;
  cursor: pointer;
}

.traffic-nav-link:hover {
    background-color: rgb(238, 246, 238);
    border-radius: 5px;
}

.traffic-nav-link:hover {
    background-color: rgb(175, 219, 175);
    border-radius: 5px;
}

.widget-container-full {
    padding: 10px 0 15px 25px;
}

.daily,
.mobile,
.alert {
    padding: 10px 0 15px 10px;
}

/* =========== Social Media Section =========== */

.social {
    display: flex;
    flex-direction: column;
    padding: 0 0 15px 15px;
}

.social-container {
    width: 95%;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--boarder-color);
    background-color: var(--light-backing-color);
    border-radius: 5px;
}

.social-image { 
    align-self: center;
    margin: 5px 10px;
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 50%;
  }

.social-text {
    display: flex;
    flex-direction: row;
}

.social-text p:nth-of-type(1) {
    font-size: medium;
    font-weight: bold;
    padding-right: 50px;
    padding-left: 10px;
    color: var(--secondary-color);
}

.social-text p:nth-of-type(2) {
    font-size: 30px;
    padding-top: 10px;
    margin: 0;
}

/* =========== New Members Section / Recent Activity =========== */

.members {
    border-bottom: 1px solid var(--grid-border-color);
    border-top: 1px solid var(--grid-border-color);
}

.members,
.activity {
    padding-top: 15px;
}

.members h3,
.activity h3 {
    margin-left: 10px;
}

.members-container,
.activity-container {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 0; 
    border-bottom: 1px solid var(--grid-border-color);
}

.members-text,
.activity-message {
    padding-left: 5px;
}

.members-text p,
.activity-message p{
    margin: 5px 0;
}

.members-container p:nth-last-child(1) {
    display: flex;
    flex-direction: row;    
    margin-left: auto;
    font-size: small;
    margin-right: 10px;
}

.members-container img,
.activity-container img {
    align-self: center;
    border-radius: 50%;
    margin: 0 5px 5px 10px;
    height: 45px;
    width: 45px;
} 

.members-container:nth-last-child(1),
.activity-container:nth-last-child(1) {
    border: none;
}

/* =========== Message User Section =========== */

.message {
    border-top: 1px solid var(--grid-border-color);
    border-bottom: 1px solid var(--grid-border-color);
    padding-top: 15px;
}

.message h3,
.widget-container {
    margin-left: 10px;
    padding-bottom: 15px;
}

.widget-container {
    display: flex;
    flex-direction: column;
}

.widget-container input,
.widget-container textarea {
    width: 85%; 
    height: 30px;
    border: 1px solid var(--boarder-color);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.widget-container textarea {
    height: 80px;
}

.widget-container button {
    width: 87%;
    height: 45px;
    margin-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--base-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

.widget-container button:hover {
    background-color: var(--hover-color);
}
/* =========== Settings Section =========== */

.settings {
    padding: 15px 0 25px 10px;
}

.btn-1,
.btn-2 {
    display: flex;
    flex-direction: row-reverse;
}  

.checkbox {
    max-height: 25px;
    margin: auto;
}

.form-field {
    width: 85%; 
    height: 30px;
    margin-left: 10px;
    border: 1px solid var(--boarder-color);
    border-radius: 5px;
    margin-bottom: 10px;
}

.setting-button button {
    margin-top: 10px;
    width: 45%;
    height:45px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--base-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

.setting-button button:hover {
    background-color: var(--hover-color);
}

/* =========== Media Query 768px =========== */

@media (min-width: 768px) {
  .grid-container {
      grid-template-columns: minmax(70px, 70px)
        minmax(0, 1fr);
      grid-template-areas: 
        "header header"
        "nav main";
  }
  main {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      
  }
  .traffic, .main-header, #traffic-chart, .social {
      grid-column: 1 / span 2;
  }
  .daily, .members, .message {
      grid-column: 1 / span 1;
  }
  .mobile, .activity, .settings {
      grid-column: 2 / span 1;
  }

  .widget-container-full {
      width: 90vw;
  }
  .widget-container-half {
      width: 45vw;
  }

  .alert {
      display: grid;
      grid-template-columns: 1fr;
      grid-column: 1 / span 2; 
      margin-left: 20px;
  }

  .alert-banner {
    display: grid;
    grid-template-columns: 1fr 30px;
  }

  /* Header */

  .profile-img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  .profile-name {
    padding: 0 10px;
    margin: auto;
  } 

  .your-app {
    padding-left: 15px;
    font-size: 30px;
  }

  .bell {
    margin-top: 16px;
    width: 40px;
    height: 40px;
  }

  .dot {
    margin: 25px 0 0 20px;
  }

  .line {
    max-height: 50px;
    margin-top: 10px;
}

  /* navigation side bar */

  .nav {
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    margin: 0;
    height: 100%;
    width: 55px;
  }

  .nav img {
    height: 35px;
    width: 55px;      
  }

  .nav a {
    padding: 7px 0;
  }

  /* Dashboard and Alert */

  .main-header {
      margin: 0;
  }

  .headline {
    width: 22%;
    font-size: 25px;
}

  .main-header-search {
      width: 85%;
      padding: 10px;
  }

  .main-header input {
    width: 40%;
    height: 30px;
  }

  /* social  */

  .social-wrapper {
      display: flex;
      flex-direction: row;
  }

  .social-container {
      width: 33%;
      margin-right: 10px;
  }

  .social-text {
      flex-direction: column;
      margin-bottom: 10px;
  }

  .social-text p:nth-of-type(1) {
      font-size: 13px;
      margin-bottom: 0;
  }

  .social-text p:nth-of-type(2) {
    padding-top: 0;
    padding-left: 10px;
    font-size: 30px;
  }

  /* Member and activity, message and user */

  .members-container,
  .activity-container {
    padding: 10px 15px 15px 0;
    min-height: 90px;
    max-height: 90px; 
}

  .activity-container,
  .activity h3,
  .settings {
      padding-left: 15px;
  }

  .setting-button button:nth-last-child(1) {
    margin-left: 5px;
  }

  .form-field {
      width: 87%;
      height: 40px;
  }

  .widget-container textarea {
      height: 85px;
  }

  /* Boarders */
  .activity {
    border-top: 1px solid var(--grid-border-color);
    border-bottom: 1px solid var(--grid-border-color);
  }
  .members {
    border-right: 1px solid var(--grid-border-color);
  }
  .settings {
    border-bottom: 1px solid var(--grid-border-color);
    border-left: 1px solid var(--grid-border-color);
  }
  .mobile {
    border-top: 1px solid var(--grid-border-color);
    border-left: 1px solid var(--grid-border-color);
  }
  .message {
      border-top: none;
  }

  /* Charts */

  .daily h3,
  .mobile h3 {
      padding-bottom: 15px;
  }

  .traffic {
      padding: 15px 0 15px 0;
  }
  .daily,
  .social,
  .mobile {
      padding-left: 0;
  }

  .mobile h3 {
      padding-left: 15px;
  }

}

/* =========== Media Query 1024px =========== */

@media (min-width: 1024px) {
    .bell {
        margin-top: 16px;
        width: 50px;
        height: 50px;
      }
      .dot {
        margin: 25px 0 0 25px;
        width: 10px;
        height: 10px;
      }
}



